/* CSS Custom Properties Definitions */
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --maxWidth-none: 'none';
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: '100%';
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --resume-wrapper: var(--maxWidth-4xl);
  --spacing-px: '1px';
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: 'Spoqa Han Sans Neo', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fontFamily-serif: 'Merriweather', 'Georgia', Cambria, 'Times New Roman', Times, serif;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 17px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-xxs: 10px;
  --fontSize-xs: 12px;
  --fontSize-sm: 14px;
  --fontSize-0: 0.7rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.4rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 2rem;
  --fontSize-6: 2.388rem;
  --color-text-black: black;
}

:root {
  --bg-color: #ffffff;
  --color-primary: #3d5afe;
  --color-shade: #011276;
  --color-text: #000000;
  --color-text-light: #f0f1f2;
  --color-text-gray: #949494;
  --color-text-darkGray: #595959;
  --color-light-gray: #f8f8f8;
  --color-gray: #e0e0e0;
  --color-heading: #000000;
  --color-heading-light: #ffffff;
  --color-heading-black: black;
  --color-accent: #0031ca;
  --color-light: #dff6ff;
  --color-category-bg: #ebeefe;
  --color-category-border: #c4cdfe;
  --category-item-bg: #fff;
  --category-item-border: #f8f8f8;
  --category-active-border: #c4cdfe;
}

:root[data-theme='dark'] {
  --bg-color: #1c1c1c;
  --color-primary: #3d8afe;
  --color-shade: #8b9cfe;
  --color-text: #ffffff;
  --color-text-light: #e6e6e6;
  --color-text-gray: #bfbfbf;
  --color-text-darkGray: #e6e6e6;
  --color-light-gray: #efefef;
  --color-gray: #adadad;
  --color-heading: #ffffff;
  --color-heading-light: #ffffff;
  --color-heading-black: #ffffff;
  --color-accent: #90b0ec;
  --color-light: #dff6ff;
  --color-category-bg: #383636;
  --color-category-border: #868282;
  --category-item-bg: #282c35;
  --category-item-border: #868282;
  --category-active-border: #e6e6e6;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
  font-family: var(--font-body) !important;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  /* mobile ~ screen smaller than 992px */
  :root {
    --fontSize-root: 16px;
    --fontSize-0: 0.875rem;
    --fontSize-1: 1rem;
    --fontSize-2: 1.1rem;
    --fontSize-3: 1.2rem;
    --fontSize-4: 1.25rem;
    --fontSize-5: 1.75rem;
    --fontSize-6: 2.25rem;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 14px !important;
}

.about-page li,
.about-page p {
  font-size: 16px !important;
}

.bio-author {
  font-size: var(--fontSize-0);
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body) !important;
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background: var(--bg-color);
}

.keyword-badge {
  display: inline-block;
  padding: 9.6px 11.2px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 50px;
  background-color: var(--color-category-bg) !important;
  color: var(--color-text) !important;
  font-weight: 400;
  text-decoration: none;
  font-size: var(--fontSize-xs);
  transition: all 0.2s ease 0s;
}

.category-badge {
  display: inline-block;
  padding: 9.6px 11.2px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 50px;
  background-color: var(--color-primary) !important;
  color: var(--color-text-light) !important;
  font-weight: 400;
  text-decoration: none;
  font-size: var(--fontSize-xs);
  transition: all 0.2s ease 0s;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
  color: var(--color-text-gray);
  font-size: var(--fontSize-0);
}

.about-footer {
  color: var(--color-text-gray);
}

hr {
  background: var(--color-text-gray);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-normal);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: var(--fontSize-1);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ol {
  padding-inline-start: 0em !important;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-6) / 2);
  word-wrap: break-word;
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  /* margin-left: var(--spacing-8); */
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-darkGray);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary) !important;
  font-size: var(--fontSize-0);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-1);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table,
tr,
th {
  border-bottom: 1px solid var(--color-accent) !important;
}

td,
th {
  color: var(--color-text-black);
  background: var(--color-light-gray);
}

/* Link */

a {
  color: var(--color-accent);
  line-height: var(--lineHeight-normal);
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Custom classes */

.no-underline,
.no-underline a {
  text-decoration: none;
}

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-32) var(--spacing-4);
  position: relative;
}

.about-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-12) var(--spacing-5);
  position: relative;
}

.global-wrapper[data-is-root-path='true'] .bio {
  margin-bottom: var(--spacing-10);
}

.global-header {
  position: fixed;
  /* max-width: var(--maxWidth-wrapper); */
  margin-bottom: var(--spacing-12);
  margin: var(--spacing-0) auto;
  padding: var(--spacing-3) var(--spacing-6);
  background: var(--color-shade);
  /* background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-primary) 25%, var(--color-light) 100%); */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.max-width-header {
  display: flex;
  align-items: center;
}

.author-badge {
  background-color: var(--color-category-bg);
  padding: 2px 6px;
  border-radius: 8px;
  color: var(--color-shade);
}

.text-xs {
  font-size: var(--fontSize-xs) !important;
  line-height: 20px;
}

.text-sm {
  font-size: var(--fontSize-sm) !important;
  line-height: 20px;
}

.text-lg {
  font-size: var(--fontSize-4);
}

.border-bottom {
  border-bottom: 0.1px solid var(--category-item-border);
  margin-bottom: var(--spacing-10);
}

.author-badge a {
  text-decoration: none;
  color: var(--color-shade);
}

.justify-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.py-12 {
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}

.about-text {
  color: var(--color-primary);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-bold);
}

.main-heading {
  font-size: var(--fontSize-3);
  color: var(--color-heading-light) !important;
  margin: 0;
  display: inline;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
  padding: var(--spacing-2);
  cursor: pointer;
}

.mb-32 {
  margin-bottom: 64px;
}

.search-wrapper {
  width: 100%;
  max-width: var(--maxWidth-wrapper);
  margin: var(--spacing-6) auto;
  font-size: var(--fontSize-0);
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: var(--bg-color);
  color: var(--color-text);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--category-item-border);
  padding: 0 3.5rem 0 1.5rem;
}

#searchQueryInput:focus {
  border: none;
  border-bottom: 1px solid var(--category-active-border);
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.post-list-item:hover {
  background-color: var(--color-category-bg);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-3);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-3);
  color: white;
}

.header-link-home:hover,
.main-heading a:hover {
  color: var(--category-active-border);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-10);
  cursor: pointer;
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  margin-top: var(--spacing-3);
  min-width: 70px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.post-date {
  font-size: var(--fontSize-0);
  color: var(--color-text-gray);
}

.post-badge {
  border: 1px solid var(--category-active-border);
  background-color: var(--category-item-bg);
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  display: inline-block;
  border-radius: 15px;
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
  margin-left: var(--spacing-2);
  padding: 2px 6px;
  font-size: var(--fontSize-xs);
}

.text-bg-primary {
  color: #fff !important;
  background-color: var(--color-primary) !important;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.underline-blue-bold {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.6rem;
  text-underline-offset: -0.2em;
  text-decoration-color: var(--color-category-border);
  text-decoration-skip-ink: none; /* works in Firefox & Chrome, not in Safari */
  text-decoration-skip: none; /* works in Safari, not in Firefox & Chrome */
}

.toggle-container {
  position: absolute;
  right: 15px;
}

.toggle-button:checked {
  background: url('https://raw.githubusercontent.com/RuchiVS/image-upload/main/moon.png') no-repeat center #212121;
  background-size: 10px;
  cursor: pointer;
}

.toggle-button {
  -webkit-appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  transition: 0.4s;
  background: url('https://raw.githubusercontent.com/RuchiVS/image-upload/main/sun.png') no-repeat center #ffffff;
  background-size: 10px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-12 {
  margin-top: 48px;
}

.mt-20 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 200px;
}

.ml-2 {
  margin-left: 8px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #6495ed;
  border-color: #6495ed transparent #6495ed transparent;
  animation: lds-dual-ring 1s linear infinite;
}

.text-right {
  text-align: right;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button {
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding: var(--spacing-2);
  border: none;
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}

button.button-outline {
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  padding: var(--spacing-2);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}

button.button-outline a {
  text-decoration: none !important;
  font-weight: var(--fontWeight-semibold);
  /* font-size: var(--fontSize-1); */
  color: var(--color-primary);
}

button a {
  text-decoration: none !important;
  font-weight: var(--fontWeight-semibold);
  /* font-size: var(--fontSize-1); */
  color: white;
}

button a:hover {
  color: var(--category-active-border);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* abount page (notion) */
.collection-content {
  font-size: 0.875rem;
}

.column-start {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.column-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .column-list {
    flex-direction: column;
  }

  .column {
    width: 100% !important;
    padding: 0 !important;
  }
}

.column {
  padding: 0 1em;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}

.table_of_contents-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 0.125rem;
}

.table_of_contents-indent-1 {
  margin-left: 1.5rem;
}

.table_of_contents-indent-2 {
  margin-left: 3rem;
}

.table_of_contents-indent-3 {
  margin-left: 4.5rem;
}

.table_of_contents-link {
  text-decoration: none;
  opacity: 0.7;
  border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

table,
th,
td {
  border: 1px solid rgba(55, 53, 47, 0.09);
  border-collapse: collapse;
}

table {
  border-left: none;
  border-right: none;
}

th,
td {
  font-weight: normal;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  min-height: 1.5em;
  text-align: left;
}

th {
  color: rgba(55, 53, 47, 0.6);
}

ol,
ul {
  margin: 0;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
  margin-block-start: 0.6em;
}

ul > li {
  list-style: disc;
}

ul.to-do-list {
  text-indent: -1.7em;
}

ul.to-do-list > li {
  list-style: none;
}

.to-do-children-checked {
  text-decoration: line-through;
  opacity: 0.375;
}

ul.toggle > li {
  list-style: none;
}

ul {
  padding-inline-start: 1.7em;
}

li {
  margin-bottom: 8px !important;
}

ul > li {
  padding-left: 0.1em;
}

ol {
  padding-inline-start: 1.6em;
}

ol > li {
  padding-left: 0.2em;
}

.mono ol {
  padding-inline-start: 2em;
}

.mono ol > li {
  text-indent: -0.4em;
}

.toggle {
  padding-inline-start: 0em;
  list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
  padding-left: 1.7em;
}

.toggle > li > details > summary {
  margin-left: -1.1em;
}

.selected-value {
  display: inline-block;
  padding: 0 0.5em;
  background: rgba(206, 205, 202, 0.5);
  border-radius: 3px;
  margin-right: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  white-space: nowrap;
}

.collection-title {
  display: inline-block;
  margin-right: 1em;
}

.simple-table {
  margin-top: 1em;
  font-size: 0.875rem;
  empty-cells: show;
}
.simple-table td {
  height: 29px;
  min-width: 120px;
}

.simple-table th {
  height: 29px;
  min-width: 120px;
}

.simple-table-header-color {
  background: rgb(247, 246, 243);
  color: black;
}
.simple-table-header {
  font-weight: 500;
}

time {
  opacity: 0.5;
}

.icon {
  display: inline-block;
  max-width: 1.2em;
  max-height: 1.2em;
  text-decoration: none;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

img.icon {
  border-radius: 3px;
}

.user-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.user-icon-inner {
  font-size: 0.8em;
}

.text-icon {
  border: 1px solid #000;
  text-align: center;
}

.page-cover-image {
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 30vh;
}

.mb-32 {
  margin-bottom: var(--spacing-32);
}

.page-header-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.page-header-icon-with-cover {
  margin-top: -0.72em;
  margin-left: 0.07em;
}

.page-header-icon img {
  border-radius: 3px;
}

.link-to-page {
  margin: 1em 0;
  padding: 0;
  border: none;
  font-weight: 500;
}

p > .user {
  opacity: 0.5;
}

td > .user,
td > time {
  white-space: nowrap;
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 0.6em;
  vertical-align: middle;
}

.image {
  border: none;
  margin: 1.5em 0;
  padding: 0;
  border-radius: 0;
  text-align: center;
}

.code,
code {
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 85%;
  tab-size: 2;
}

code {
  color: #eb5757;
}

.code {
  padding: 1.5em 1em;
}

.code-wrap {
  white-space: pre-wrap;
  word-break: break-all;
}

.code > code {
  background: none;
  padding: 0;
  font-size: 100%;
  color: inherit;
}

blockquote {
  font-size: var(--fontSize-1);
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid rgb(55, 53, 47);
}

.title-primary {
  color: var(--color-primary);
}

.title-md {
  font-size: var(--fontSize-3);
  font-weight: var(--fontWeight-normal);
  margin-top: var(--spacing-4);
}

.text-gray {
  color: var(--color-text-gray);
}

.font-semibold {
  font-weight: var(--fontWeight-semibold);
}

.link-small {
  text-decoration: none;
  font-size: var(--fontSize-xs);
  font-weight: var(--fontWeight-semibold);
}

.title-lg {
  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-bold);
  margin-top: var(--spacing-4);
}
.bookmark {
  text-decoration: none;
  max-height: 8em;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bookmark-title {
  font-size: 0.85em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.75em;
  white-space: nowrap;
}

.bookmark-text {
  display: flex;
  flex-direction: column;
}

.bookmark-info {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookmark-image {
  width: 33%;
  flex: 1 1 180px;
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 1px;
}

.bookmark-description {
  color: rgba(55, 53, 47, 0.6);
  font-size: 0.75em;
  overflow: hidden;
  max-height: 4.5em;
  word-break: break-word;
}

.bookmark-href {
  font-size: 0.75em;
  margin-top: 0.25em;
}

.sans {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial,
    sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.code {
  font-family: 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace;
}
.serif {
  font-family: Lyon-Text, Georgia, ui-serif, serif;
}
.mono {
  font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}
.pdf .sans {
  font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK JP';
}
.pdf:lang(zh-CN) .sans {
  font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC';
}
.pdf:lang(zh-TW) .sans {
  font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK TC';
}
.pdf:lang(ko-KR) .sans {
  font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK KR';
}
.pdf .code {
  font-family: Source Code Pro, 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace,
    'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK JP';
}
.pdf:lang(zh-CN) .code {
  font-family: Source Code Pro, 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace,
    'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC';
}
.pdf:lang(zh-TW) .code {
  font-family: Source Code Pro, 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace,
    'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK TC';
}
.pdf:lang(ko-KR) .code {
  font-family: Source Code Pro, 'SFMono-Regular', Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace,
    'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK KR';
}
.pdf .serif {
  font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK JP';
}
.pdf:lang(zh-CN) .serif {
  font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK SC';
}
.pdf:lang(zh-TW) .serif {
  font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK TC';
}
.pdf:lang(ko-KR) .serif {
  font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK KR';
}
.pdf .mono {
  font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji',
    'Noto Sans Mono CJK JP';
}
.pdf:lang(zh-CN) .mono {
  font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji',
    'Noto Sans Mono CJK SC';
}
.pdf:lang(zh-TW) .mono {
  font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji',
    'Noto Sans Mono CJK TC';
}
.pdf:lang(ko-KR) .mono {
  font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji',
    'Noto Sans Mono CJK KR';
}
.highlight-default {
  color: rgba(55, 53, 47, 1);
}
.highlight-gray {
  color: var(--color-text-gray);
  fill: var(--color-text-gray);
}
.highlight-brown {
  color: rgba(159, 107, 83, 1);
  fill: rgba(159, 107, 83, 1);
}
.highlight-orange {
  color: rgba(217, 115, 13, 1);
  fill: rgba(217, 115, 13, 1);
}
.highlight-yellow {
  color: rgba(203, 145, 47, 1);
  fill: rgba(203, 145, 47, 1);
}
.highlight-teal {
  color: rgba(68, 131, 97, 1);
  fill: rgba(68, 131, 97, 1);
}
.highlight-blue {
  color: rgba(51, 126, 169, 1);
  fill: rgba(51, 126, 169, 1);
}
.highlight-purple {
  color: rgba(144, 101, 176, 1);
  fill: rgba(144, 101, 176, 1);
}
.highlight-pink {
  color: rgba(193, 76, 138, 1);
  fill: rgba(193, 76, 138, 1);
}
.highlight-red {
  color: rgba(212, 76, 71, 1);
  fill: rgba(212, 76, 71, 1);
}
.highlight-gray_background {
  background: rgba(241, 241, 239, 1);
}
.highlight-brown_background {
  background: rgba(244, 238, 238, 1);
}
.highlight-orange_background {
  background: rgba(251, 236, 221, 1);
}
.highlight-yellow_background {
  background: rgba(251, 243, 219, 1);
}
.highlight-teal_background {
  background: rgba(237, 243, 236, 1);
}
.highlight-blue_background {
  background: rgba(231, 243, 248, 1);
}
.highlight-purple_background {
  background: rgba(244, 240, 247, 0.8);
}
.highlight-pink_background {
  background: rgba(249, 238, 243, 0.8);
}
.highlight-red_background {
  background: rgba(253, 235, 236, 1);
}
.block-color-default {
  color: inherit;
  fill: inherit;
}
.block-color-gray {
  color: rgba(120, 119, 116, 1);
  fill: rgba(120, 119, 116, 1);
}
.block-color-brown {
  color: rgba(159, 107, 83, 1);
  fill: rgba(159, 107, 83, 1);
}
.block-color-orange {
  color: rgba(217, 115, 13, 1);
  fill: rgba(217, 115, 13, 1);
}
.block-color-yellow {
  color: rgba(203, 145, 47, 1);
  fill: rgba(203, 145, 47, 1);
}
.block-color-teal {
  color: rgba(68, 131, 97, 1);
  fill: rgba(68, 131, 97, 1);
}
.block-color-blue {
  color: rgba(51, 126, 169, 1);
  fill: rgba(51, 126, 169, 1);
}
.block-color-purple {
  color: rgba(144, 101, 176, 1);
  fill: rgba(144, 101, 176, 1);
}
.block-color-pink {
  color: rgba(193, 76, 138, 1);
  fill: rgba(193, 76, 138, 1);
}
.block-color-red {
  color: rgba(212, 76, 71, 1);
  fill: rgba(212, 76, 71, 1);
}
.block-color-gray_background {
  background: rgba(241, 241, 239, 1);
}
.block-color-brown_background {
  background: rgba(244, 238, 238, 1);
}
.block-color-orange_background {
  background: rgba(251, 236, 221, 1);
}
.block-color-yellow_background {
  background: rgba(251, 243, 219, 1);
}
.block-color-teal_background {
  background: rgba(237, 243, 236, 1);
}
.block-color-blue_background {
  background: rgba(231, 243, 248, 1);
}
.block-color-purple_background {
  background: rgba(244, 240, 247, 0.8);
}
.block-color-pink_background {
  background: rgba(249, 238, 243, 0.8);
}
.block-color-red_background {
  background: rgba(253, 235, 236, 1);
}
.select-value-color-pink {
  background-color: rgba(245, 224, 233, 1);
}
.select-value-color-purple {
  background-color: rgba(232, 222, 238, 1);
}
.select-value-color-green {
  background-color: rgba(219, 237, 219, 1);
}
.select-value-color-gray {
  background-color: rgba(227, 226, 224, 1);
}
.select-value-color-opaquegray {
  background-color: rgba(255, 255, 255, 0.0375);
}
.select-value-color-orange {
  background-color: rgba(250, 222, 201, 1);
}
.select-value-color-brown {
  background-color: rgba(238, 224, 218, 1);
}
.select-value-color-red {
  background-color: rgba(255, 226, 221, 1);
}
.select-value-color-yellow {
  background-color: rgba(253, 236, 200, 1);
}
.select-value-color-blue {
  background-color: rgba(211, 229, 239, 1);
}

.checkbox {
  display: inline-flex;
  vertical-align: text-bottom;
  width: 16;
  height: 16;
  background-size: 16px;
  margin-left: 2px;
  margin-right: 5px;
}

.checkbox-on {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
}

.checkbox-off {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E');
}

.name-text {
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-semibold);
  margin-top: var(--spacing-6);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

/* scroll css */

.scroll-toggle {
  border-color: var(--color-category-border);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: var(--color-category-bg);
  scroll-behavior: smooth;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.scroll-toggle__button {
  appearance: none;
  flex: 0 0 100px;
  margin: 10px;
  padding: 10px;
  position: relative;
  transition: all 0.1s ease;
}
.scroll-toggle__button:active,
.scroll-toggle__button:hover {
  background-color: var(--color-primary);
}
.scroll-toggle__button:focus {
  outline: 2px solid var(--color-light);
}
.scroll-toggle__list {
  display: flex;
  flex: 1 1 auto;
  overflow-x: scroll;
}

.scroll-toggle ul {
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
}

.scroll-toggle__list .active {
  border: 2px solid var(--category-active-border);
  font-weight: var(--fontWeight-bold);
}

.scroll-toggle__list .active a {
  font-weight: var(--fontWeight-bold);
}

.scroll-toggle__list-item {
  border: 1px solid var(--category-item-border);
  background-color: var(--category-item-bg);
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  display: inline-block;
  margin: 0.25rem 6px 0.25rem 0;
  border-radius: 15px;
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
}

.scroll-toggle__list-item div {
  display: block;
  padding: 6px 10px;
  font-size: 13px;
  box-sizing: border-box;
}

.scroll-toggle__list-item div a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--fontWeight-semibold);
}

/* accordion about page */
details {
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-weight: var(--fontWeight-normal);
  padding: 10px 20px;
  cursor: pointer;
}

/* english resume style */

.en-resume .fixed-top-border {
  position: fixed;
  width: 100%;
  height: 10px;
  background: var(--color-text-darkGray);
  top: 0;
  left: 0;
}

.en-resume {
  margin: var(--spacing-0) auto;
  max-width: var(--resume-wrapper);
  padding: var(--spacing-32) var(--spacing-4);
  position: relative;
  color: var(--color-darkGray);
  background-color: var(--color-background);
  font-family: 'Spoqa Han Sans Neo', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.en-resume .underline {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

  border-bottom: 3px solid var(--color-text-darkGray);
  display: inline-block;
  color: var(--color-darkGray);
  font-weight: 600;
  /* text-transform: uppercase; */
}

.en-resume ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

  list-style: none;
}

.en-resume .container {
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.en-resume .row {
  padding-bottom: 15px;
  padding-left: 20px;
}

.en-resume header {
  display: inline-block;
  margin-top: 8rem;
  width: 100%;
}

.en-resume header h1 {
  font-size: 30pt;
}

.en-resume header ul li {
  height: 25px;
}

.en-resume header ul li i {
  color: var(--color-text-darkGray);
  padding-right: 5px;
  padding-left: 5px;
  font-size: 18px;
}

.en-resume article {
  margin-top: 20px;
}

.en-resume article h2 {
  font-size: 20pt;
}

.en-resume article .header {
  color: var(--color-text-darkGray);
  font-weight: 600;
  list-style-type: none;
}

.en-resume article .header span {
  font-size: 10pt;
  font-style: italic;
}
.en-resume .pb-15px {
  padding-bottom: 15px;
}

.en-resume article .right {
  float: right;
  width: 15%;
  font-weight: 600;
  list-style-type: none;
}

.en-resume article .description {
  font-style: italic;
  font-size: 9pt;
}

.en-resume article .exp-list {
  margin-bottom: 20px;
}

.en-resume article .exp-list .fa {
  color: var(--color-text-darkGray);
  padding-right: 5px;
  font-size: 12px;
}

.en-resume article ul li {
  min-height: 25px;
  max-width: 80%;
}

@media screen and (max-width: 500px) {
  .en-resume article .right {
    width: 100%;
    font-weight: 600;
    list-style-type: none;
  }

  .en-resume article ul li {
    min-height: 25px;
    max-width: 100%;
  }

  .en-resume article,
  .en-resume header {
    padding: var(--spacing-8) var(--spacing-4);
  }

  .en-resume header {
    margin-top: 4rem;
  }

  .en-resume {
    font-size: var(--fontSize-0);
  }
}

.en-resume article .reference {
  width: 40%;
  display: inline-block;
}

.en-resume article .reference ul li {
  max-width: 100%;
}

.en-resume article .spacer {
  height: 15px;
}

.en-resume article .tech ul li {
  max-width: 100% !important;
}

.en-resume article .tech span {
  font-weight: 600;
  color: var(--color-text-darkGray);
}
